@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 800px;
  height: 350px;

  display: flex;
  flex-direction: row;
  display: none;
}

.data {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;
}

.cityName {
  font-size: 50px;
}
.temperature {
  font-size: 30px;
}
.feelsLike {
  font-size: 30px;
}
.humidity {
  font-size: 30px;
}
.wind {
  font-size: 30px;
}

.iconCoord {
  width: 29%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;
}

.weather {
  display: flex;
  flex-direction: column;
  width: 100%;

  justify-content: center;
  align-items: center;
}
/* .wIcon {
} */
.wDescription {
  font-size: 30px;
}

.coords {
  font-size: 20px;
}
